#footer {
    padding-top: 5px;
    padding-bottom: 0px;
    /* background-color: #113450; */
    background-color: #5a697e;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 15%;
    margin-bottom: 0px;
    margin-top: 20vh;
    padding-bottom: 20px;
}

#footer h4 {
    font-size: 20px;
    color: white;
    display: block;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer #contact, #footer #links {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#footer #contact p {
    color: white;
}   

#footer #links #social {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

#footer #links #social #app {
    width: 40px;
}

#footer #info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

#footer #info #left {
    margin-right: 40px;
}

#footer #links #social a, #useful a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

#footer #links #useful a{
    color: #ffffff;
}
